//generate text colors
@each $key, $value in $colors {
    .text-#{$key} {
        color: $value;
    }
}

//generate text line-heights
@each $key, $value in $colors {
    .text-ln-#{$key} {
        line-height: $value;
    }
}

.text-uppercase {
    text-transform: uppercase;
}
